<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FeedbackURL</key>
	<string>https://script.google.com/macros/s/AKfycbz3DShhIzfj91KBFZRwd6-wLkl_m__8GFwW0Fq2aHzu8pGJYgo9ye4ji0x_hbv9X4nG1g/exec</string>
</dict>
</plist>
